<script src="/js/eventos/alterar.js"></script>

<div class="container">
    <h1>Alteração de Eventos</h1>
    <div>
        <% if (typeof msg !="undefined" ) { %>
            <span>
                <%= msg %>
            </span>
        <% } %>
    </div>
    <div>
        <div>
            <input id="eventoId" hidden value="<%= evento.eventoId %>">
            <div>
                <div class="form-group">
                    <label for="eventoNome" class="form-label">Nome</label>
                    <input value="<%= evento.eventoNome %>" type="text" class="form-control" id="eventoNome" name="eventoNome">
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="eventoDesc" class="form-label">Descrição</label>
                    <input value="<%= evento.eventoDescricao %>" type="text" class="form-control" id="eventoDesc" name="eventoDesc">
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="eventoDataInic" class="form-label">Data Inicio</label>
                    <input value="<%= evento.eventoDataInic %>" type="text" class="form-control" id="eventoDataInic" name="eventoDataInic">
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="eventoDataFim" class="form-label">Data Fim</label>
                    <input value="<%= evento.eventoDataFim %>" type="text" class="form-control" id="eventoDataFim" name="eventoDataFim">
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="eventoLocal" class="form-label">Local</label>
                    <input value="<%= evento.eventoLocal %>" type="text" class="form-control" id="eventoLocal" name="eventoLocal">
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label for="eventoProjeto" class="form-label">Projeto Id</label>
                    <select class="form-control" id="eventoProjeto" name="eventoProjeto">
                        <option selected value="0">Selecione...</option>
                        <% for(let i=0; i<lista.length; i++) { %>
                            <option value="<%= lista[i].projetoId %>">
                                <%= lista[i].projetoId %> - <%= lista[i].projetoNome %>
                            </option>
                        <% } %>
                    </select>
                </div>
            </div>
        <div>
            <button class="btn btn-primary" id="btnAlterar" type="button">Alterar</button>
            <a class="btn btn-secondary" href="/eventos">Voltar</a>
        </div>
    </div>
</div>
</div>