<script src="/js/eventos/listagem.js"></script>

<h1 class="text-secondary">Eventos cadastrados</h1>

<a class="btn btn-primary" style="max-width: 200px;" href="eventos/cadastrar">Novo evento</a>

<hr>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Data Inicio</th>
                  <th scope="col">Data Fim</th>
                  <th scope="col">Local</th>
                  <th scope="col">Projeto</th>
                  <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < lista.length; i++)  { %>
                    <tr>
                        <td><%= lista[i].eventoId %></td>
                        <td><%= lista[i].eventoNome %></td>
                        <td><%= lista[i].eventoDescricao %></td>
                        <td><%= new Date(lista[i].eventoDataInic).toLocaleDateString('pt-BR') %></td>
                        <td><%= new Date(lista[i].eventoDataFim).toLocaleDateString('pt-BR') %></td>
                        <td><%= lista[i].eventoLocal %></td>
                        <td><%= lista[i].projetoNome %></td>
                        <td>
                            <a href="/eventos/alterar/<%= lista[i].eventoId %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <button data-codigoexclusao="<%= lista[i].eventoId %>" class="btn btn-danger btnExclusao"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
